
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regras de Segurança da Empresa
    match /empresa/{userId} {
      allow read, write: if request.auth.uid == userId;
    }

    // Regras de Segurança dos Clientes
    match /clientes/{clienteId} {
      allow read, write: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid == request.resource.data.userId;
    }

    // Regras de Segurança dos Materiais
    match /materiais/{materialId} {
       allow read, write: if request.auth.uid == resource.data.userId;
       allow create: if request.auth.uid == request.resource.data.userId;
    }

    // Regras de Segurança dos Orçamentos
    match /orcamentos/{orcamentoId} {
      allow read, write: if request.auth.uid == resource.data.userId;
      allow create: if request.auth.uid == request.resource.data.userId;
    }
  }
}
