rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // ===============================
    // Empresa (1 documento por usuário)
    // ===============================
    match /empresa/{userId} {
      allow read, write: if request.auth != null
                         && request.auth.uid == userId;
    }

    // ===============================
    // Coleções do usuário (orcamentos, clientes, itens, etc)
    // ===============================
    match /{collection}/{docId} {

      // Criar documento
      allow create: if request.auth != null
                    && request.resource.data.userId == request.auth.uid;

      // Ler documento
      allow read: if request.auth != null
                  && resource.data.userId == request.auth.uid;

      // Atualizar documento
      allow update: if request.auth != null
                    && resource.data.userId == request.auth.uid
                    && request.resource.data.userId == resource.data.userId;

      // Deletar documento
      allow delete: if request.auth != null
              && resource != null
              && resource.data.userId == request.auth.uid;

    }
  }
}
